h1{
    color: #fff;
    font-family: 'Kaushan Script', cursive;
    font-size: 26px;
    text-align: center;
    display: inline;
    line-height: 65px;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
    
    img{
        max-height: 24px;
        vertical-align: middle;
    }
}


ul{
    margin: 0px;
    padding: 0px;
    float: right;

    li{
        color: #fff;
        display: inline;
        line-height: 65px;
        font-size: 17px;
        margin-right: 30px;
        font-weight: 300;
        cursor: pointer;
        position: relative;
        transition: opacity .2s ease-out,color .2s ease-out;
        i.material-icons{
            font-size: 20px;
            vertical-align: middle;
        }
    }
    li:hover{
        color: #00cf70;
    }
    .curPage{
        color: #00cf70;
        border-bottom: 1px solid #00cf70;
    }
    .cart{
        background-color: #00cf70 !important;
        color: #fff;
        padding: 8px 20px;
    }
    .cart:hover{
        background-color: #0eda7c!important;
        color: #fff;
    }
    .open {
        border: 2px solid #00cf70;
        background-color: #fff;
        color: #0f1f2c;
        padding: 18px;
        position: absolute;
        right: 0px;
        width: 320px;
        bottom: -120px;
        border-radius: 8px;
        p {
            margin: 0px;
            padding: 0px;
            line-height: 30px;
        }
    }
}



