.portfolios{
    color:#fff;
    h2{
        font-size: 44px;
        margin: 60px 0px 40px;
        font-weight: 100;
        text-align: center;
    }
    .users{
        width: 94%;
        margin: 20px auto;
        table{
            width: 100%;
            th, td {
                padding: 10px;
            }
            thead{
                background-color: #fff;
                color: #000;
                th{
                    border-color: #000;
                }
            }
            tbody{
                background: rgba(0, 0, 0, 0.4) !important;
                td {
                    font-weight: 300;
                }
                td:nth-child(6){
                    width: 290px;
                    white-space: nowrap;
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                td a{
                    color: #0cef87;
                    letter-spacing: 1px;
                    font-weight: 400 !important;
                }
                td a:hover{
                    text-decoration: none;
                    color: #fff;
                }
            }
            .sell{
                cursor: pointer;
                color: #0cef87;
                letter-spacing: 1px; 
                font-weight: 400!important;
                i{
                    vertical-align: middle;
                    font-size: 20px;
                }
            }
            .sell:hover{
                color: #Fff;
            }
        }
    }
}