<div class="user container" *ngIf="user">
  <p class="name">{{user.firstName +" "+ user.lastName}}</p>
  <p class="details">
    <span>Email: </span>{{user.email}}&nbsp;&nbsp;&nbsp;
    <span>Balance: </span>{{user.balance}}$
  </p>
  <div class="my_coins">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Amount</th>
          <th>Current Price</th>
          <th>Date</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let coin of user.coins ; let idx = index">
          <td *ngIf="coin.isActive">{{coin.id}}</td>
          <td *ngIf="coin.isActive">{{coin.name}}</td>
          <td *ngIf="coin.isActive">{{coin.amount}}</td>
          <td *ngIf="coin.isActive">{{coin.currentPrice}}$</td>
          <td *ngIf="coin.isActive">{{coin.date | date: 'medium'}}</td>
          <td class="sell" *ngIf="coin.isActive" (click)="sell(idx, coin)">Sell</td>
        </tr>
        <tr *ngIf="checkTable()">
            <td colspan="6">No coins</td>
          </tr>
      </tbody>
    </table>
  </div>
  <div class="old_coins">
    <p>My old coins(sold)</p>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Amount</th>
          <th>Current Price</th>
          <th>Date</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let coin of user.coins">
          <td *ngIf="!coin.isActive">{{coin.id}}</td>
          <td *ngIf="!coin.isActive">{{coin.name}}</td>
          <td *ngIf="!coin.isActive">{{coin.amount}}</td>
          <td *ngIf="!coin.isActive">{{coin.currentPrice}}$</td>
          <td *ngIf="!coin.isActive">{{coin.date | date: 'medium'}}</td>
          <td *ngIf="!coin.isActive">&nbsp;</td>
        </tr>
        <tr *ngIf="checkTable2()">
          <td colspan="6">No old coins</td>
        </tr>
      </tbody>
    </table>
    </div>
</div>