<div class="user container" *ngIf="user">
  <p class="name">{{user.firstName +" "+ user.lastName}}</p>
  <p class="details">
    <span>Email: </span>{{user.email}}&nbsp;&nbsp;&nbsp;
    <span>Balance: </span>{{user.balance| number}}$
  </p>
  <div class="my_coins">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Amount</th>
          <th>Purchase Value</th>
          <th>Current Value</th>
          <th>Date</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let coin of user.coins ; let idx = index;">
          <td *ngIf="coin.isActive">{{idx}}</td>
          <td *ngIf="coin.isActive">{{coin.name}}</td>
          <td *ngIf="coin.isActive">{{coin.amount| number}}</td>
          <td *ngIf="coin.isActive">{{coin.currentPrice| number}}$</td>
          <td *ngIf="coin.isActive">{{priceNow(coin.name,coin.amount) | number}}$</td>
          <td *ngIf="coin.isActive">{{coin.Date | date: 'medium'}}</td>
          <td class="sell" *ngIf="coin.isActive" (click)="sell(coin._id)">Sell<i class="material-icons"> keyboard_arrow_down </i></td>
        </tr>
        <tr *ngIf="checkTable()">
            <td colspan="7">No coins</td>
          </tr>
      </tbody>
    </table>
  </div>
  <div class="old_coins">
    <p>My old coins(sold)</p>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Amount</th>
          <th>Selling Value</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let coin of user.coins ; let idx = index">
          <td *ngIf="!coin.isActive">{{idx}}</td>
          <td *ngIf="!coin.isActive">{{coin.name}}</td>
          <td *ngIf="!coin.isActive">{{coin.amount| number}}</td>
          <td *ngIf="!coin.isActive">{{coin.currentPrice| number}}$</td>
          <td *ngIf="!coin.isActive">{{coin.Date | date: 'medium'}}</td>
        </tr>
        <tr *ngIf="checkTable2()">
          <td colspan="6">No old coins</td>
        </tr>
      </tbody>
    </table>
    </div>
</div>