/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body,html{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
body{
    background: url('background.jpg') no-repeat top;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

*,*::before,*::after{
    outline: none;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}