
h2{
    color: #fff;
    font-size: 21px;
    text-align: center;
    margin: 37px 0px;
    font-style: italic;
}
table{
    width: 94%;
    margin: 20px auto 40px;
    color: #fff;
    th, td {
        padding: 10px;
    }
    td {
        font-weight: 300;
    }
    thead{
        background-color: #fff;
        color: #000;
    
        th{
            border-color: #000;
        }
    }
    tbody{
        background: hsla(0,0%,100%,.05)!important;
        i{
            font-size: 20px;
            vertical-align: middle;
        }
        .red{
            color: red;
            animation: 2.5s redColor ease-in ;
        }
        .green{
            animation: 5s greenColor ease-in ;
            color: #0cef87;
        }
    }
    .buy{
        cursor: pointer;
        color: #0cef87;
        letter-spacing: 1px;   
        font-weight: 400!important;
    }
    .buy:hover{
        color: #Fff;
    }
}

table, th, td {
    border: 1px solid #FFF;
    border-collapse: collapse;
    text-align: center;
}

@keyframes greenColor {
    from{
        color: #0cef87;
    }
    50%{
        color: #57dfa1;
    }
    to{
        color: #0cef87;
    }
 }


 @keyframes redColor {
    from{
        color: red;
    }
    50%{
        color: #ff6b6b;
    }
    to{
        color: red;
    }
 }



