
h2{
    color: #fff;
    font-size: 21px;
    text-align: center;
    margin: 37px 0px;
    font-style: italic;
}
table{
    width: 94%;
    margin: 20px auto 40px;
    color: #fff;
    th, td {
        padding: 10px;
    }
    thead{
        background-color: #fff;
        color: #000;
    
        th{
            border-color: #000;
        }
    }
    .buy{
        font-weight: bold;
        cursor: pointer;
        font-weight: 300;
        letter-spacing: 1px;
    }
    .buy:hover{
        text-decoration: underline;
        color: #00cf70;
    }
}

table, th, td {
    border: 1px solid #FFF;
    border-collapse: collapse;
    text-align: center;
}







