
  <div class="ban" *ngIf = "banMessage">Sorry, you have to login first!<button class="closebtn" (click)="turnOff(2)">x</button></div>
  <div class="container">
    
    <h2>Top 20 Cryptocurrencies By Market Capitalization</h2>
    
    <table *ngIf="coins">
      <thead>
        <tr>
          <th>Logo</th>
          <th>Name</th>
          <th>Price</th>
          <th>Market cap</th>
          <th>Volume</th>
          <th>Change</th>
          <th>Circulating supply</th>
          <th>Graph</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let coin of coins ; let idx=index">
          <td><span [ngClass]="checkImg(coin.name)">&nbsp;</span></td>
          <td>{{coin.name}}</td>
          <td>${{coin.price| number:'.2'}}</td>
          <td>${{coin.market_cap| number:'.2'}}</td>
          <td>${{coin.volume| number:'.2'}}</td>
          <td [ngClass]="check(idx)">{{coin.change| number:'.4'}}%</td>
          <td>{{coin.circulating_supply| number}}</td>
          <td><div class="chartSmall"><app-graph-small [shortName]=coin.shortName></app-graph-small> </div></td>
          <td class="buy" (click) = "goToCoinScreen(coin.shortName)">Buy</td>
        </tr>
      </tbody> 
    </table>
    
  </div>  